.text-orange{
    color: #FF9100;
}

.text-green{
    color: #15964C;
}

.title-gradient {
    background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scroll {
    left: 0;
    right: 0;
    overflow: hidden;
}

.bg-hero{
    height: 70vh;
}

.hero-content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    gap: 28px;
}

.hero-content p{
    font-size: 28px;
}

.btn-demo{
    display: none;
}

.kebutuhan-section{
    padding: 56px 18px;
}

.kebutuhan-section .title{
    font-size: 20px;
}

.kebutuhan-section .sub-title{
    font-size: 14px;
}

.kebutuhan-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
}

.card-kebutuhan{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 8px 12px 0px rgba(10, 10, 10, 0.12);
    border-radius: 8px;
}

.card-kebutuhan p{
    font-size: 14px;
}

.desc-section{
    display: flex;
    flex-direction: column;
    padding: 64px 18px;
    gap: 32px;
}

.desc-section .tags{
    font-size: 14px;
}

.desc-section .title{
    font-size: 18px;
}

.desc-section .sub-title{
    font-size: 14px;
}

.section-feature .content{
    gap: 24px;
}

.section-feature{
    padding: 64px 18px;
}

.section-feature .title{
    font-size: 20px;
}

.section-feature .sub-title{
    font-size: 14px;
}

.card-feature{
    box-shadow: 0px 8px 12px 0px rgba(10, 10, 10, 0.12);
}

.card-feature:hover{
    box-shadow: 0px 17px 50px 3px rgba(80, 205, 137, 0.50);
}

.device-section{
    display: flex;
    flex-direction: column-reverse;
    padding: 64px 18px;
    gap: 48px;
}

.device-section .tags{
    font-size: 14px;
}

.device-section .title{
    font-size: 18px;
}

.device-section .sub-title{
    font-size: 14px;
}

.faq-section{
    padding: 64px 18px;
}

.faq-section .title{
    font-size: 18px;
}

.contact-section{
    padding: 18px 18px 64px 18px;
}

.contact-card{
    min-height: 100px;
    border-radius: 12px;
    background: var(--Simple-81, linear-gradient(117deg, #FBED96 8.49%, #ABECD6 91.84%));
    padding: 24px;
}

.contact-card img{
    display: none;
}

.content-desc .title{
    font-size: 20px;
}

.content-desc .sub-title{
    font-size: 14px;
}

.content-desc .button-section{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 28px;
}

.section-demo .title{
    font-size: 18px;
}

.section-demo{
    padding: 64px 18px 82px 18px;
}

.section-demo img{
    display: none;
}

.order-1 .icon{
    display: none;
}

/* Small devices (landscape phones, 576px and up) */    
@media (min-width: 576px) {
    .bg-hero{
        height: 80vh;
    }
    
    .hero-content{
        height: 85vh;
    }

    .hero-content img{
        height: 300px;
    }

    .btn-demo{
        display: inline;
    }

    .kebutuhan-section .title{
        font-size: 24px;
    }

    .kebutuhan-content{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-kebutuhan{
        width: 240px;
    }

    .desc-section .tags{
        font-size: 16px;
    }
    
    .desc-section .title{
        font-size: 24px;
    }
    
    .desc-section .sub-title{
        font-size: 16px;
    }
    
    .section-feature .title{
        font-size: 24px;
    }
    
    .section-feature .sub-title{
        font-size: 16px;
    }

    .device-section{
        padding: 84px 18px;
        gap: 84px;
    }
    
    .device-section .tags{
        font-size: 16px;
    }
    
    .device-section .title{
        font-size: 24px;
    }
    
    .device-section .sub-title{
        font-size: 16px;
    }
    
    .faq-section .title{
        font-size: 20px;
    }

    .content-desc .title{
        font-size: 24px;
    }

    .content-desc .sub-title{
        font-size: 16px;
    }

    .content-desc .button-section{
        flex-direction: row;
    }

    .section-demo .title{
        font-size: 24px;
    }

    .section-demo{
        padding-bottom: 98px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .bg-hero{
        height: 70vh;
    }

    .hero-content{
        height: 80vh;
    }
    
    .hero-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;
    }

    .hero-content img{
        height: 250px;
    }

    .card-kebutuhan{
        width: 330px;
    }
    
    .card-kebutuhan p{
        font-size: 16px;
    }

    .desc-section{
        flex-direction: row;
        align-items: center;
    }

    .section-feature .content{
        gap: 32px;
    }

    .device-section{
        flex-direction: row;
        padding: 84px 18px;
        gap: 24px;
    }

    .device-section .sub-title{
        font-size: 14px;
    }

    .content-desc .title{
        font-size: 28px;
    }

    .order-1 .icon{
        display: inline;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .bg-hero{
        height: 80vh;
    }

    .hero-content{
        height: 90vh;
    }

    .hero-content p{
        font-size: 36px;
    }

    .hero-content img{
        height: 300px;
    }
    
    .kebutuhan-section{
        padding-top: 36px;
    }

    .card-kebutuhan{
        width: 450px;
    }

    .device-section{
        align-items: center;
        padding: 98px 18px;
    }

    .faq-section{
        padding: 98px 0;
    }
    
    .faq-section .title{
        font-size: 24px;
    }

    .faq-section .accordion{
        width: 80%;
    }

    .contact-card img{
        display: inline;
    }

    .contact-card{
        display: flex;
        padding: 0 18px;
        align-items: center;
    }

    .content-desc{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .content-desc .title{
        margin: 0;
    }

    .content-desc .button-section{
        margin: 0;
    }

    .section-demo img{
        display: inline;
    }

    .section-demo{
        display: flex;
        align-items: center;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hero-content img{
        height: 350px;
    }

    .kebutuhan-content{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .desc-section{
        padding: 98px 0;
    }

    .section-feature .title{
        font-size: 28px;
    }
    
    .section-feature .sub-title{
        font-size: 16px;
        width: 500px;
        text-align: center;
    }

    .section-feature{
        padding: 82px 0;
    }

    .device-section{
        gap: 64px;
        align-items: center;
    }

    .device-section .title{
        font-size: 28px;
    }
    
    .device-section .sub-title{
        font-size: 16px;
    }

    .faq-section .accordion{
        width: 50%;
    }

    .contact-card{
        gap: 24px;
        padding: 0 28px;
    }

    .section-demo .title{
        font-size: 28px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .hero-content p{
        font-size: 48px;
    }

    .hero-content img{
        height: 400px;
    }

    .kebutuhan-section{
        padding-top: 24px;
    }

    .desc-section{
        padding: 114px 0;
    }

    .desc-section .tags{
        font-size: 18px;
    }

    .desc-section .title{
        font-size: 28px;
    }

    .desc-section .sub-title{
        font-size: 16px;
    }

    .section-feature{
        padding: 98px 0;
    }

    .device-section{
        padding: 114px 18px;
    }

    .device-section .tags{
        font-size: 18px;
    }

    .device-section .title{
        font-size: 28px;
    }

    .device-section .sub-title{
        font-size: 16px;
    }

    .content-desc .title{
        font-size: 32px;
    }

    .content-desc .sub-title{
        font-size: 16px;
    }

    .section-demo{
        padding-bottom: 114px;
    }
}